.App {
  text-align: center;
}

.conversation {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(5px + 2vmin);
  color: white;
}

.conversation {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

.conversation > .bubble {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.0625em;
  max-width: 75%;
}

.conversation > .bubble.sender {
  align-self: flex-start;
  background-color: cornflowerblue;
  color: #fff;
}
.conversation > .bubble.recipient {
  align-self: flex-end;
  background-color: #efefef;
  color: #1c2833;
}
