.App {
  text-align: center;
}

.conversation {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(5px + 2vmin);
  color: white;
}

.messageArea {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

.messageArea > .bubble {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.1em;
  max-width: 75%;
}

.messageArea > .bubble.sender {
  align-self: flex-start;
  background-color: cornflowerblue;
  color: #fff;
}
.messageArea > .bubble.recipient {
  align-self: flex-end;
  background-color: #efefef;
  color: #1c2833;
}

.sendForm {
  display: flex;
  flex-direction: column;
}

.sendForm input[type="text"] {
  border-radius: 1em;
  width: 300px;
  height: 30px;
  padding: 0 10px;
  margin: 10px 10px;
}

.sendForm button[type="submit"] {
  border-radius: 1em;
  height: 30px;
  background-color: white;
  color: black;
}

.sendForm button[type="submit"]:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}
